@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 90, 90, 90;
  --white-rgb: 255, 255, 255;
  --foreground-white: 209, 213, 219;
  --foreground-black: 107, 114, 128;

  --background: rgb(var(--white-rgb));
  --foreground: rgb(var(--foreground-black));
  --poinvalue: rgb(var(--black-rgb))
}

.dark {
  --background: rgb(var(--black-rgb));
  --foreground: rgb(var(--foreground-white));  
  --poinvalue: rgb(var(--white-rgb))
}
  
body {
  color: var(--foreground);
  background:var(--background);
}

.point-value {
  color: var(--poinvalue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-visible {
  overflow: auto; 
  scrollbar-width: thin; 
  scrollbar-color: inherit rgb(100, 100, 100);
  -ms-overflow-style: auto; 
}

.scroll-visible::-webkit-scrollbar {
  display: block; 
}

button {
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }